<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>[[${listener.m_nickname}]]#[[${listener.m_code}]]님과 채팅</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/homeNav.css"type="text/css"><link rel="stylesheet" href="css/footer.css"type="text/css">
<link rel="stylesheet" href="css/chat.css"type="text/css">
<style>
.chatHistory_box {
	height: 500px;
	border: 2px grey solid;
	border-radius: 1vw;
	padding: 1vw;
	overflow: auto;
}
.chatHistory > * {
	margin: 20px;
}
</style>
</head>
<body>
<header th:include="other/homeNav"></header>

<main th:include="chat/chatting">이 안에 .chatDiv 들어감</main>

<footer th:include="other/footer"></footer>
<script>
$(function(){
	chat_initialize( $('.chatDiv') )
});
</script>
<script src="js/chatting.js"></script>
</body>
</html>