<!--/* 

한 상대회원과 채팅 div.chatDiv 

상대정보 div.chatListener
├프사 img
└닉네임 span, …

채팅상자 div.chatHistory_box
├채팅 내역 div.chatHistory
└채팅내역 끝부분 표시

form 메시지 보내기 폼
├메시지입력
└버튼

 */-->

<div class="chatDiv">
	<div class="chatListener"><!--/* 상대 정보 */-->
		<img th:src="${listener.profileImage}" class="profilePic">
		<h1><span th:text="${listener.m_nickname}"></span>#<span th:text="${listener.m_code}"></span></h1>
	</div>
	
	<div class="chatHistory_box">
		<div class="chatHistory" th:include="chat/chat"><!--/* 여기 채팅 내역 */-->
		</div>
		<hr class="endOfChat" style="border: 0"><!-- 스크롤 끝까지 내렸나 검사용 -->
	</div>
	
	<form class="chatForm">
		<input type="hidden" class="chat_to" th:value="${listener.m_id}">
		<input type="text" class="chat_content" name="h_content" autocomplete="off" placeholder="뭐라 칠려고 했더라?">
		<button type="submit" class="chat_send">&gt;</button>
	</form>
</div>
