<div id="messageOnewrap">
    <div class="messageOneTitle">문의 내용</div>
    <div id="messageOneInfo">
        <hr>
        <input type="hidden" id="m_email" th:value="${dto.m_email}">
        <input type="hidden" id="c_id" th:value="${dto.c_id}">
        <div class="oneInfo">제목 : [[${dto.c_contentTitle}]]</div>
        <div class="oneInfo">문의한 이메일 : [[${dto.m_email}]]</div>
        <div class="oneInfo">문의 종류 : [[${dto.c_contactUsValues}]]</div>
        <div class="oneInfo">문의 내용 : [[${dto.c_content}]]</div>
        <div class="oneInfo">문의 날짜 : [[${#dates.format(dto.c_regDate, 'yyyy년 MM월 dd일 HH:mm:ss')}]]</div>
    </div>
    <div class="messageOneConBtn">
        <input type="button" value="답변하기" title="Button ush blue/green" class="button btnPush btnBlueGreen sendBtn" onclick="writeMail()">
        <input type="button" value="뒤로가기" title="Button push orange" class="button btnPush btnOrange close" onclick="messageClose()">
    </div>
</div>