<nav id="globalFList">
	<h1>나의 팔로우</h1>
	<div class="fItem" th:each="fmember : ${fList}">
		<a class="profilePic" th:href="'vip?p='+${fmember.m_id}" style="display: block;"><img class="profilePic" th:src="${fmember.profileImage}" height=30></a>
		<span class="nickcode">
			<span th:text="${fmember.m_nickname}"></span>
			#<span th:text="${fmember.m_code}"></span>
		</span>
		<button class="chatBtn tinyButton" th:onclick="'newChat('+${fmember.m_id}+')'"><i class="fa-solid fa-comment-dots"></i></button>
	</div>
	
	<button id="fListOpenBtn" onclick="parentOpen(this)"></button>
</nav>