<header id="globalHeader">
<div>
	<a class="a2" th:href="@{/}" >DEMANG</a>
</div>

<div class="searchBar">
    <input type="text" id="search" placeholder="Search..." onkeyup="if(window.event.keyCode==13){search()}" class="searchInputs"> 
        
    <div class="search-wrapper">
        <div class="input-holder">
            <button class="search-icon"  id="searchBtn" onclick="searchToggle(this, event);"><span>검색</span></button>
        </div>
    </div>
</div>

<div class="menu">
	<button onclick="parentOpen(this)">≡</button>
	<ul class="menuList">
		<li onclick="location.href='/'">Home</li>
		<li onclick="location.href='/postInsert'">글쓰기</li>
		<li onclick="location.href='/myLike'">내관심</li>
		<li th:if="${session.login}" onclick="location.href='/vip'">
			<span th:text="${session.login}"></span>번으로 로그인됨
		</li>
		<li th:unless="${session.login}" onclick="location.href='/loginMove'">
			<span>로그인</span>
		</li>
	</ul>
</div>
</header>
