<th:block th:if="${alert}"><script th:inline="javascript">alert([[${alert}]]);</script></th:block>
<header id="globalHeader">
<div>
	<a class="a2" th:href="@{/}" ><img src="img/DEMANG.png" class="logo"></a>
</div>

<form id="searchBar" onsubmit="homeNavSearch(); return false;">
    <input type="text" id="search" name="val" placeholder="일반검색 #태그검색 @회원검색" autocomplete=off> 
	<button class="search-icon" id="searchBtn"><span>🔍</span></button>
</form>

<div id="mainMenu">
	<button onclick="parentOpen(this)">≡</button>
	<ul class="menuList">
		<li onclick="location.href='/'">Home</li>
		<li onclick="location.href='/postInsert'">글쓰기</li>
		<li th:if="${session.login}" onclick="location.href='/vip'">
			<span th:text="${session.login}"></span>번으로 로그인됨
		</li>
		<li th:unless="${session.login}" onclick="location.href='/loginMove'">
			<span>로그인</span>
		</li>
		<li th:if="${session.login}" onclick="location.href='/serviceCenter'">
			고객 센터
		</li>
		<li th:if="${session.email == 'admin'}" onclick="location.href='/admin'">
			관리자모드
		</li>
	</ul>
</div>
</header>
