<!--/* 피드에 나올 추천회원 목록. 유저검색 결과를 복붙하고 테두리 스타일은 postList_stack 복붙 */-->
<div class="memberRecommend">
	<h2>추천회원</h2>
	<div class="userBox" th:onclick="'location.href=\'/vip?p='+${user.m_id}+'\''" th:each="user : ${memList}">
		<div class="profileImg">
			<img class="profilePic" th:src="${user.profileImage}">
		</div>
		<div class="details">
			<div class="nickNameCode">
				<span class="nickname" th:text="${user.m_nickname}"></span>
				<span class="nickcode">#[[${user.m_code}]]</span>
			</div>
			<div class="email">[[${user.m_email}]]</div>
		</div>
	</div>
</div>
<style>/* 즉석으로 만들어본 거라 그냥 스타일 여기 ??? */
.memberRecommend {
	margin: 30px 15px;
	padding: 20px;
	border: var(--themeCol2) solid 1px;
	border-radius: 5px;
	background-color: white;
	box-shadow: var(--themeCol2) 0 0 5px
}
.userBox {
	background-color: var(--light2);
	margin: 0.5%;
	
	height: 70px;
	padding-left: 5px;
	
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
}
.userBox:hover {/* 마우스 올린 항목 */
	transform: scale(1.1, 1.1);
	transition-duration: 0.1s;
	box-shadow: 0 0 5px var(--themeCol1);
}
.profileImg img {/* 프사 */
	height: 60px;
	width: 60px;
}
.details {/* 회원 정보 */
	margin-left: 10px;
	width: 230px;
	overflow: hidden;
}
.details .email{
	color: var(--lightTextCol);
	font-size: 0.8em;
	font-weight: 700;
}
</style>