<div class="postLine">
            
    <div class="post">
        <div class="imgBox">
            <figure><img class="contentImg" src="img/defaultPropic.png"></figure>
        </div>
        <div class="userInfoBox">
            <div class="userInfo">
                <div class="profileImg">
                    <img src="img/defaultPropic.png">
                </div>
                <div class="email_nickName">
                    <span class="nickName">닉네임<span class="nickCode"> #코드번호</span></span>
                    <span class="email">이메일 주소 .com</span>
                </div>
            </div>
        </div>
    </div>

    <div class="post">
        <div class="imgBox">
            <figure><img class="contentImg" src="img/c32bdaaa440eff8be24d5b25b05fb113.jpg"></figure>
        </div>
        <div class="userInfoBox">
            <div class="userInfo">
                <div class="profileImg"></div>
                <div class="email_nickName">
                    <span class="nickName">닉네임<span class="nickCode"> #코드번호</span></span>
                    <span class="email">이메일 주소 .com</span>
                </div>
            </div>
        </div>
    </div>

    <div class="post">
        <div class="userInfoBox">
            <div class="userInfo">
                <div class="profileImg"></div>
                <div class="email_nickName">
                    <span class="nickName">닉네임<span class="nickCode"> #코드번호</span></span>
                    <span class="email">이메일 주소 .com</span>
                </div>
            </div>
        </div>
    </div>
    
</div>