<div class="post">
    <div class="imgBox">
        <figure th:if="${image}">
            <img th:src="'data:image/png;base64,'+${image.image}">
        </figure>
        <figure th:unless="${image}">
            <p class="p_content" th:text="${post.p_content}"></p>
        </figure>
    </div>
    
    <div class="userInfoBox">
        <div class="userInfo">
            <div class="profileImg">
                <img th:src="'data:image/png;base64,'+${post.memberDTO.m_profilePicString}">
            </div>
            <div class="email_nickName">
                <span class="nickName">
                    [[${post.memberDTO.m_nickname}]]
                    <span class="nickCode"> 
                        #[[${post.memberDTO.m_code}]]
                    </span>
                </span>
                <span class="email">
                    [[${post.memberDTO.m_email}]]
                </span>
            </div>
        </div>
    </div>
</div>