<div class="content2">
    <div class="post" th:each="list : ${postList}">
        <div class="imgBox">
            <figure>[[${list.p_content}]]</figure>
        </div>
        <div class="userInfoBox">
            <div class="userInfo">
                <div class="profileImg">
                        <img src="img/defaultPropic.png"><!-- 이미지 들어갈 공간 --> 
                </div>
                <div class="email_nickName">
                    <span class="nickName">[[${list.memberDTO.m_nickname}]]<span class="nickCode"> #[[${list.memberDTO.m_code}]]</span></span>
                    <span class="email">[[${list.memberDTO.m_email}]]</span>
                </div>
            </div>
        </div>
    </div>
</div>