<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostSearch</title>
    <link rel="stylesheet" href="css/homeNav.css">
    <link rel="stylesheet" href="css/postSearch.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    
    <header id="homeNav" th:include="other/homeNav"></header>
        <div class="contentBox">
            <div class="content2">
                
            </div>
            <hr id="endOfPostListPosCheck">
            <!-- 친구 목록 모달 -->
            <div class="modal">
                <div class="modal_body">
                    <div>
                        <div class="close close2"></div>
                    </div>
                    <div>
                        친구 목록
                    </div>
                    <div id="fList">
                        <div>아이디 닉네임</div>
                    </div>
                </div>
            </div>
        </div>
    <footer th:include="other/footer"></footer>
    <script src="js/homeNav.js"></script>
    <script src="js/postSearch.js"></script>
<script th:inline="javascript">

$(function(){

    num = 0;// 다음에 불러올 인덱스
    postList = [[${postNoList}]];
    if( postList.length == 0 ){// 불러올 게시글이 없는 경우
		$('.content2').append("<div>게시글이 없습니다.</div>");
	}
    showPost();
    showPost();
    showPost();
    showPost();
    showPost();
    showPost();
    showPost();
    showPost();
    showPost();

    setInterval(scrollCheck, 200);
});

////스크롤을 끝까지 내리면 글 더 불러오기
function scrollCheck(){// 스크롤 움직일 때마다 확인
	//// 스크롤을; 현재 화면에 나온 게시글 목록 끝까지 다 내리면
	if( $(window).height() + $(document).scrollTop()// 화면 맨아래의 위치 = 스크롤위치 + 화면세로크기
			>= $('#endOfPostListPosCheck').offset().top - 100 // 화면상 게시글 목록 끝 (메인 바로뒤의 요소의 위치) (100만큼 여분 추가)
			){
		showPost();
        showPost();
        showPost();
        }// 게시글 더 불러오기
	//// 그런데 왜 글이 한 개씩이 아니라 꼭 여러 개씩 불러지는지 모르겠는걸
}

//// 목록에서 가져온 번호(게시글id)를 게시글로 바꿔서 화면에 출력
function showPost(){
	if( num >= postList.length ) return;// 더이상 불러올 글이 없으면 아무것도 안 하기
	getPost( postList[num] );
	num += 1;
}
// 번호 한 개를 게시글 한 개로 바꿔 가져오기
function getPost( no ){
    $.ajax({
            url: 'getPostForSearch',
            type: 'post',
            data: {
                no: no
            },
            success: function( data ){
                $('.content2').append(data)
            },error: function(){
                console.log('실패');
            }
        });
}
</script>
</body>
</html>