<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인</title>
<!-- script -->
<!-- jQuery --><script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- 공통 --><script th:inline="javascript">sessionLogin = [[${session.login}]];</script><script src="js/globalScript.js"></script><script src="js/chatting.js"></script>
	
<!-- css -->
<!-- 공통 --><link rel="stylesheet" href="css/global.css">
<!-- 이 페이지 --><link rel="stylesheet" type="text/css" href="css/login.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
</head>

<body>

<header th:replace="other/homeNav">메인메뉴</header>
	
<main><div class="wrap login">
	<div class="info">
		<h1><img src="img/DEMANG.png" class="logo"></h1>
	</div>
	
	<form class="mainForm" action="/login" method="post">
		<input type="hidden" th:value="${red}" name="red">
		
		<div class="inputs">
			<div class="inputCell">
				<label for="user_name">이메일</label>
				<input type="text" name="m_email" 
					id="m_email" class="input" 
					autocomplete="off" required>
				<hr class="underlineForInput">
			</div>
			<div class="inputCell">
				<label for="m_password">비밀번호</label>
				<input type="password" name="m_password" 
					id="m_password" class="input" 
					autocomplete="off" required>
				<hr class="underlineForInput">
			</div>
		</div>
		
		<div class="buttons">
			<button type="submit" class="largeButton">LOGIN</button>
			<button type="button" class="largeButton" onclick="location.href='/signUp'">Sign Up</button>
		</div>
		
	</form>
</div></main>
</body>
</html>