<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
    <header>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        	
     </header>
     
   <form action="/loginGo" method="post">
		<div class="div1">
			<img src="img/Dimang.jpg" class="img1"><br>
			<br> <input type="text" id="m_email" name="m_email" class="ID"placeholder="ID"><br> 
				<input type="password"id="m_password" name="m_password" class="PW" placeholder="PASSWORD"><br>
			<br>
			<br>
			<br> <input type="submit" value="로그인">
			
		
        
		</div>
	</form>
	<!-- <button class="custom-btn btn-1" type="submit" ><span>LOGIN</span></button><br> -->
         <div>
        <div class="frame">
        <a href="/signUp"><button class="custom-btn btn-1" ><span>Sign Up</span></button></a> 
         </div>
        </div> 
        
      
        
       <script type="text/javascript">


</script>
      <script src="js/login.js"></script>
</body>
</html>