<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인</title>
<!-- script -->
<!-- jQuery --><script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- 공통 --><script th:inline="javascript">sessionLogin = [[${session.login}]];</script><script src="js/globalScript.js"></script><script src="js/chatting.js"></script>
<script src="js/login.js"></script>
	
<!-- css -->
<!-- global frame --><link rel="stylesheet" href="css/globalFrame.css">
<!-- 이 페이지 --><link rel="stylesheet" type="text/css" href="css/login.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
</head>

<body>

<header th:replace="other/homeNav">메인메뉴</header>
	
<main>
	<form action="/login" method="post">
		<div class="div1">
			<img src="img/DEMANG.png" class="img1">
			<br>
			<br>
			<p>
				<input type="text" name="m_email" id="m_email" autocomplete="off" required>
				<label for="user_name"><span>ID</span></label>
			</p>
			<br>
			<p>
				<input type="password" name="m_password" id="m_password" autocomplete="off" required>
				<label for="user_name"><span>PASSWORD</span></label>
			</p>
			<br>
			<br>
			<input type="hidden" th:value="${red}" name="red">
			<button class="custom-btn btn-1" type="submit"><span>LOGIN</span></button>
			<!-- 새버튼 -->
		</div>
	</form>
	<div class="div2">
		<div class="frame">
			<a href="/signUp"><button class="custom-btn btn-1" ><span>Sign Up</span></button></a>
		</div>
	</div >
</main>

<div id="globalSidebar">
	<footer th:replace="other/footer">푸터</footer>
</div>

</body>
</html>