
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
test
 	<h1>회원상세보기</h1>
 	프사: <img th:src="'data:image/png;base64,'+${dto.m_profilePicString}"><br>
	회원 아이디 : [[${dto.m_id}]] <br>
	회원 이름 : [[${dto.m_nickname}]]<br>
	회원 비밀번호 : [[${dto.m_password}]]<br>
	회원 생일 : [[${dto.m_birth}]]<br>
	자기소개 : [[${dto.m_introduce}]]<br>
	성별 : [[${dto.m_gender}]]<br>
	판매자 등록여부 : [[${dto.m_licensed}]]<br>
	누적경고 횟수 : [[${dto.m_warnCount}]]<br>
	활동가능 여부 : [[${dto.m_available}]]<br>
	가입일 : [[${dto.m_regDate}]] <br>
	<a th:href="@{/memberUpdate}">수정하러가기</a>  
	<br>
	
	
</body>
</html>