<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>회원정보수정</h1>
	test
	
	[[${dto}]]
 <form action="/memberUpdate" method="post">
	이름: <input type="text"name="m_nickname" th:value="${dto.m_nickname}"><br>
	비밀번호: <input type="text"name="m_password"><br>
	생일 <input type="date"name="m_birth" th:value="${dto.m_birth}"><br>
	<div>자기소개:</div> 
	<textarea name="m_introduce">[[${dto.m_introduce}]]</textarea><br>
	성별:
	M <input type="radio"name="m_gender" value="M">
	F <input type="radio"name="m_gender" value="F">
	X <input type="radio"name="m_gender" value="X"><br>
 	<input type="submit" value="수정하기">
	</form> 
</body>
</html>