<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DEMANG</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- script -->
<!-- jQuery --><script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- 공통 --><script th:inline="javascript">sessionLogin = [[${session.login}]];</script><script src="js/globalScript.js"></script><script src="js/chatting.js"></script>
<!-- 스크롤 내려 글 부르기 --><script th:inline="javascript">postList = [[${PostList}]];</script><script src="js/postFromListByScrolling.js"></script> 
<!-- 게시글 관련 --><script src="js/postView.js"></script>
<!-- 이미지 슬라이더 --><script src="//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<!-- css -->
<!-- global frame --><link rel="stylesheet" href="css/globalFrame.css">
<!-- 채팅 --><link rel="stylesheet" href="css/chat.css">
<!-- 게시글 목록 --><link rel="stylesheet" href="css/postList_stack.css">
<!-- 이미지 슬라이더 --><link rel="stylesheet" href="//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
</head>
<body>

<header th:replace="other/homeNav">메인메뉴</header>

<main>
	<section id="postList"></section><hr id="endOfPostListPosCheck">
</main>

<div id="globalSidebar">
	<nav th:if="${session.login}" th:replace="other/fList">팔로목록</nav>
	<button onclick="parentOpen(this)">≡</button>
	<footer th:replace="other/footer">푸터</footer>
</div>

<div id="chatModals"></div>

</body>
</html>