<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DeMang</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/test.css">
<link rel="stylesheet" href="css/homeNav.css"type="text/css">
</head>
<body>

<header th:include="other/homeNav">메인메뉴</header>
[[${session.login}]]번 회원으로 로그인 중
<nav>팔로목록</nav>
<main>


<section id="postList"></section><hr id="endOfPostListPosCheck">
</main>
<footer th:include="other/footer">푸터</footer>


<script th:inline="javascript">postList = [[${PostList}]];/*표시할 게시글 번호 목록. 여기 빨간줄은 무시하자. 잘 된다.(이클립스가 타임리프 모르는 듯)*/</script>
<script src="js/postFromListByScrolling.js">/* 게시글 불러오기 */</script>
<script src="js/newComment.js">/* 새 댓글 등록 */</script>

</body>
</html>