<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글 보기</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- script -->
<!-- jQuery --><script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- 공통 --><script th:inline="javascript">sessionLogin = [[${session.login}]];</script><script src="js/globalScript.js"></script><script src="js/chatting.js"></script>
<!-- 이미지 슬라이더 --><script src="//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<!-- 슬라이더 작동 Script -->
 <script>
$(document).ready(function(){
	$('.bxSlider').bxSlider({
		captions: true
	});
});
</script>

<!-- css -->
<!-- 이 페이지 전용 --><link rel="stylesheet" href="/css/PostView.css">
<!-- global frame --><link rel="stylesheet" href="css/globalFrame.css">
<!-- 채팅 --><link rel="stylesheet" href="css/chat.css">
<!-- 이미지 슬라이더 --><link rel="stylesheet" href="//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
</head>
<body>

<header th:replace="other/homeNav">메인메뉴</header>

<main>
	<th:block th:replace="post/post"></th:block><!--/* 게시글 */-->
	
	<div class="merchandises"><!--/* 상품 */-->
		<select th:if="${merchandiseList}">
			<option th:each="mer: ${merchandiseList}" value="${mer.mer_id}">
				[[${mer.mer_name}]]
			</option>
		</select>
	</div>
</main>

<div id="globalSidebar">
	<nav th:if="${session.login}" th:replace="other/fList">팔로목록</nav>
	<button onclick="parentOpen(this)">≡</button>
	<footer th:replace="other/footer">푸터</footer>
</div>

<div id="chatModals"></div>

</body>
</html>