<!-- postList.html에서 main 안에 들어갈, 게시글 하나에 해당하는 항목을 나타내는 html 요소. (stack 스타일로 표시될 용도)
게시물영역 div.post
├게시물 article.postView
│├글쓴이 정보 h1.writerInfo
│├이미지들 div.postImgs
│└본문 div.content
│
├메뉴 div.menubar
│├좋아요 혹은 좋아요취소 div.likeDiv
││├좋아요 버튼 button.like
││└좋아요 취소 버튼 button.unlike
│├댓글
│├삭제
│└신고
│
└댓글 영역 div.comments
　├댓글쓰기 div.myComment
　└댓글목록 ul.commentList
-->
<div class="post">

	<article class="postView">
		<h1 class="writerInfo"><!--/* 작성자 */-->
			<a th:href="'/vip?p='+${post.memberDTO.m_id}"><img class="profilePic" alt="프로필 사진" th:src="${post.memberDTO.profileImage}" height=70></a>
			<span class="nickname" th:text="${post.memberDTO.m_nickname}"></span>
			<span class="code">#[[${post.memberDTO.m_code}]]</span>
		</h1>
		
		<div th:if="${imageList}" class="postImgs"><!--/* 이미지 (있을 때만) */-->
			<ul class="bxSlider postImgDiv">
				<li th:each="image : ${imageList}">
					<img class="imgBox" th:src="${image.image}" />
				</li>
			</ul>
		</div>
		
		<div class="content"><!--/* 본문 */-->
			<span th:utext="${post.p_content}"></span>
			<button class="more tinyButton" th:onclick="'location.href=\'/postView?p_id='+${post.p_id}+'\''">자세히</button><!--/* 상세보기 페이지로 이동 */-->
		</div>
		
	</article>
	
	<div class="menubar"><!--/* 메뉴 */-->
		<div class="likeDiv" style="display: inline-block">
			<button class="like" th:onclick="'like('+${post.p_id}+', this)'">♡</button>
			<button class="unlike" th:onclick="'unlike('+${post.p_id}+', this)'">♥</button>
		</div>	
		<span class="likeCount" th:text="${post.p_likeCount}">좋아요 수</span>
		<button class="comment" onclick="$(this).parents('.post').addClass('newComment')">댓글</button><!--/* 새 댓글 작성란 보이기 클래스 */-->
		<button class="delete" th:p_id="${post.p_id}" th:onclick="deletePost(this.getAttribute('p_id'))" th:if="${session.login} == ${post.p_writer}">삭제</button><!--/* 게시글 작성자만 */-->
		<button class="report" th:unless="${session.login} == ${post.p_writer}">신고</button><!--/* 게시글 작성자 아닌 사람만 */-->
	</div>
	
	<div class="comments">
		<form class="commentForm" onsubmit="newComment(this); return false;">
			<input type="hidden" class="c_postNo" name="c_postNo" th:value="${post.p_id}">
			<input type="text" class="c_content" name="c_content" autocomplete="off" placeholder="나의 한 마디">
			<button type="submit">보내기 버튼</button>
		</form>
		
		<ul th:replace="post/commentList"></ul><!--/* 댓글 목록 */-->
	</div>
</div>