<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/PostView.css">
<!-- 슬라이더 -->
<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<title>글 보기</title>
</head>
<body>

  <script>
  $(document).ready(function(){
      $('.bxSlider').bxSlider({
    	  captions: true
      });
    });
  </script>

<header th:include="other/homeNav"></header>
<nav></nav>

<h1>[[${post.p_id}]]번 글</h1>

<main>
    <div class="wrap">
    	<div class="contentWrap">
        <div class="title" id="profile">[[${post.memberDTO.m_nickname}]]</div>
        <div class="content">
        	<div>  	
        	<ul class="bxSlider p_image">
				<li><img class="imgBox" src="../img/plus.png" /></li> 
				<li><img class="imgBox" src="../img/purin.jpg" /></li> 
				<li><img class="imgBox" src="../img/defaultPropic.png" /></li> 
				<li><img class="imgBox" src="../img/DEMANG.png" /></li> 
			</ul>
		</div>
        <div class="p_content">[[${post.p_content}]]</div>
        </div>
    	  <div class="tag">
    	  <input type="button" name="like" value="좋아요"> 
    	  <input type="button" name="follow" value="팔로우">
    	  <input type="text" readonly="readonly" value="태그 나오는 곳">
    	  </div>
 		</div>
 		
    	  <div>  
    	  <!-- 댓글 나오는 곳 -->
    	  <div class="commentRead" id="commentRead">댓글 나오는 곳(게시글 번호 연동 + ajax)</div>
    	  
    	  <!-- 댓글 작성란 -->
       <div class="commentInsert">
       <div>프사</div>
       <input type="text" class="commentWrite" name="commentWrite" id="commentWrite" maxlength="50" placeholder="댓글 작성하는 곳">
       <div><input type="button" value="작성"></div>
       </div>
       
       </div>
    </div>
</main>

<footer th:include="other/footer"></footer>

<script src="/js/PostView.js"></script>
</body>
</html>