<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/PostInsert.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- jQuery --><script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- global frame --><link rel="stylesheet" href="css/globalFrame.css">
<title>글 작성</title>
</head>
<body>


	<header th:include="other/homeNav"></header>
    <nav></nav>
    <main>
        <div class="wrap">
        <!-- /postInsert 게시글 작성,, /imgInsert 이미지 전송(테스트) -->
            <form action="/postInsert" id="post" method="Post" enctype="multipart/form-data">
            <input type="hidden" name="p_writer" th:value="${session.login}">
            <input type="number" name="mer_price" id="defaultPrice" value="0">
            <input type="text" name="mer_name" id="defaultName" value="">
            <input type="number" name="mer_amount" id="defaultAmount" value="1"> 
            <div class="write">
                <div class="radio">
                    <input type="radio" name="p_type" value="N" checked="checked">일반
                    <input type="radio" name="p_type" value="S">판매
                </div>
                	<div class="write_main" id="imgWrap">
                  	<div class="labelWrap" id="labelWrap">
                	<ul class="selectedImg">
                		<li>
                    	<input type="file" id="input_file" accept="image/*" >
                    	<label for="input_file" class="label" id="file_label"></label>
                    	</li>
                	</ul>
                    </div>
                    <textarea name="p_content" class="textInput" id="textInput"></textarea> <!-- 글 내용 작성 input -->
                    </div>
                <div class="write_foot">
                    <input type="button" value="다음" class="textInputBtn" id="textInputBtn">
                </div>
            </div>
        </form>
        </div>
    </main>

    <footer th:include="other/footer"></footer>
<script src="/js/PostInsert.js"></script>
</body>
</html>