<!-- postList.html에서 main 안에 들어갈, 게시글 하나에 해당하는 항목을 나타내는 html 요소. (list 스타일로 표시될 용도)
게시물영역 div.post
├글쓴이 정보 h1.writerInfo
├이미지 div.imageBox
├본문 div.content
└상세보기 button.more
-->
<div class="post" th:onclick="'location.href=\'/postView?p_id='+${post.p_id}+'\''">
	<h1 class="writerInfo"><!--/* 작성자 */-->
		<img class="profilePic" alt="프로필 사진" th:src="${post.memberDTO.profileImage}" height=70>
		<span class="nickname" th:text="${post.memberDTO.m_nickname}"></span>
		<span class="code">#[[${post.memberDTO.m_code}]]</span>
	</h1>
	
	<div th:if="${image}" class="imageBox"><!--/* 이미지 (있을 때만) */-->
		<img class="contentImg" th:src="${image.image}" alt="게시글 대표이미지" />
	</div>
	
	<div class="content"><!--/* 이미지 없으면 본문 표시 */-->
		<span th:utext="${post.p_content}"></span>
	</div>
	
	<button class="more" th:onclick="'location.href=\'/postView?p_id='+${post.p_id}+'\''">자세히</button>
</div>