<!-- postList.html에서 main 안에 들어갈, 게시글 하나에 해당하는 항목을 나타내는 html 요소. (stack 스타일로 표시될 용도)
게시물영역 div.post
├게시물 article.postView
│├글쓴이 정보 h1.writerInfo
│├이미지들 div.postImgs
│└본문 div.content
│
├메뉴 div.menubar
│├좋아요 혹은 좋아요취소 div.likeDiv
││├좋아요 버튼 button.like
││└좋아요 취소 버튼 button.unlike
│├댓글
│├삭제
│└신고
│
└댓글 영역 div.comments
　├댓글쓰기 div.myComment
　└댓글목록 ul.commentList
-->
<div class="post">

	<article class="postView">
		<h1 class="writerInfo"><!--/* 작성자 */-->
			<a th:href="'/vip?p='+${post.memberDTO.m_id}"><img class="profilePic" alt="프로필 사진" th:src="${post.memberDTO.profileImage}" height=70></a>
			<span class="nickname" th:text="${post.memberDTO.m_nickname}"></span>
			<span class="code">#[[${post.memberDTO.m_code}]]</span>
		</h1>
		
		<div th:if="${imageList.size} > 0" class="postImgs"><!--/* 이미지 (있을 때만) */-->
			<ul class="bxSlider postImgDiv">
				<li th:each="image : ${imageList}">
					<img class="imgBox" th:src="${image.image}" />
				</li>
			</ul>
		</div>
		
		<div class="content"><!--/* 본문 */-->
			<span th:utext="${post.p_content}"></span>
			<button class="more tinyLightButton" th:onclick="'location.href=\'/postView?p_id='+${post.p_id}+'\''">자세히</button><!--/* 상세보기 페이지로 이동 */-->
		</div>
		
	</article>
	
	<div class="menubar"><!--/* 메뉴 */-->
		<div class="likeDiv" style="display: inline-block">
			<button class="like" th:onclick="'like('+${post.p_id}+', this)'"><svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M320 1344q0-26-19-45t-45-19q-27 0-45.5 19t-18.5 45q0 27 18.5 45.5t45.5 18.5q26 0 45-18.5t19-45.5zm160-512v640q0 26-19 45t-45 19h-288q-26 0-45-19t-19-45v-640q0-26 19-45t45-19h288q26 0 45 19t19 45zm1184 0q0 86-55 149 15 44 15 76 3 76-43 137 17 56 0 117-15 57-54 94 9 112-49 181-64 76-197 78h-129q-66 0-144-15.5t-121.5-29-120.5-39.5q-123-43-158-44-26-1-45-19.5t-19-44.5v-641q0-25 18-43.5t43-20.5q24-2 76-59t101-121q68-87 101-120 18-18 31-48t17.5-48.5 13.5-60.5q7-39 12.5-61t19.5-52 34-50q19-19 45-19 46 0 82.5 10.5t60 26 40 40.5 24 45 12 50 5 45 .5 39q0 38-9.5 76t-19 60-27.5 56q-3 6-10 18t-11 22-8 24h277q78 0 135 57t57 135z"/></svg></button>
			<button class="unlike" th:onclick="'unlike('+${post.p_id}+', this)'"><svg width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path style="fill:#3232ff" d="M320 1344q0-26-19-45t-45-19q-27 0-45.5 19t-18.5 45q0 27 18.5 45.5t45.5 18.5q26 0 45-18.5t19-45.5zm160-512v640q0 26-19 45t-45 19h-288q-26 0-45-19t-19-45v-640q0-26 19-45t45-19h288q26 0 45 19t19 45zm1184 0q0 86-55 149 15 44 15 76 3 76-43 137 17 56 0 117-15 57-54 94 9 112-49 181-64 76-197 78h-129q-66 0-144-15.5t-121.5-29-120.5-39.5q-123-43-158-44-26-1-45-19.5t-19-44.5v-641q0-25 18-43.5t43-20.5q24-2 76-59t101-121q68-87 101-120 18-18 31-48t17.5-48.5 13.5-60.5q7-39 12.5-61t19.5-52 34-50q19-19 45-19 46 0 82.5 10.5t60 26 40 40.5 24 45 12 50 5 45 .5 39q0 38-9.5 76t-19 60-27.5 56q-3 6-10 18t-11 22-8 24h277q78 0 135 57t57 135z"/></svg></button>
		</div>	
		<span class="likeCount" th:text="${post.p_likeCount}">좋아요 수</span>
		<button class="comment" onclick="$(this).parents('.post').addClass('newComment')">댓글</button><!--/* 새 댓글 작성란 보이기 클래스 */-->
		<button class="delete" th:p_id="${post.p_id}" th:onclick="deletePost(this.getAttribute('p_id'))" th:if="${session.login} == ${post.p_writer}">삭제</button><!--/* 게시글 작성자만 */-->
		<button class="report" th:unless="${session.login} == ${post.p_writer}">신고</button><!--/* 게시글 작성자 아닌 사람만 */-->
	</div>
	
	<div class="comments">
		<form class="commentForm" onsubmit="newComment(this); return false;">
			<input type="hidden" class="c_postNo" name="c_postNo" th:value="${post.p_id}">
			<input type="text" class="c_content" name="c_content" autocomplete="off" placeholder="댓글을 입력해주세요">
			<button type="submit" class="tinyButton">전송</button>
		</form>
		
		<ul th:replace="post/commentList"></ul><!--/* 댓글 목록 */-->
	</div>
</div>