<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>[[${dto.member.m_nickname}]]님의 페이지</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/youngsunTest.css">
</head>
<body>
<header>헤더</header>
<nav>친구목록</nav>


<main>
<section><!-- 회원 정보 -->
	<div class="propicDiv">프사 자리</div>
	<div>
		<div>
			<span>[[${dto.member.m_nickname}]]</span><span>@[[${dto.member.m_code}]]</span>
			<button>팔로우</button><!-- 본인일 경우 정보수정 -->
		</div>
		<div>
			<span>[[${dto.followingCount}]]명을 팔로우 중</span>
			<span>[[${dto.followerCount}]]명에게 팔로되는 중</span>
		</div>
		<div>자기소개: [[${dto.member.m_introduce}]]</div>
	</div>
</section>



<section></section>
</main><hr id="endOfMainPosCheck">


<footer>푸터</footer>

<script th:inline="javascript">postList = [[${PostList}]];/*표시할 게시글 번호 목록. 여기 빨간줄은 무시하자. 잘 된다.(이클립스가 타임리프 모르는 듯)*/</script>
<script th:inline="javascript" src="js/postFromListByScrolling.js"></script>
</body>
</html>