<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>[[${dto.m_nickname}]]님의 페이지</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- script -->
<!-- jQuery --><script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- 공통 --><script th:inline="javascript">sessionLogin = [[${session.login}]];</script><script src="js/globalScript.js"></script><script src="js/chatting.js"></script>
<!-- 스크롤 내려 글 부르기 --><script th:inline="javascript">postList = [[${PostList}]];</script><script src="js/postFromListByScrolling.js"></script> 
<!-- 게시글 관련 --><script src="js/postView.js"></script>
<!-- 팔로우 확인 --><script th:inline="javascript">m_id = [[${dto.m_id}]]/* 현재 페이지 계정 주인 */</script><script th:inline="javascript" src="js/doFollow.js"></script>
<!-- 이미지 슬라이더 --><script src="//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<!-- css -->
<!-- 이 페이지 전용 --><link rel="stylesheet" href="css/profile.css">
<!-- global frame --><link rel="stylesheet" href="css/globalFrame.css">
<!-- 채팅 --><link rel="stylesheet" href="css/chat.css">
<!-- 게시글 --><link rel="stylesheet" href="css/post.css"><link rel="stylesheet" href="css/postList_stack.css">
<!-- 이미지 슬라이더 --><link rel="stylesheet" href="//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
</head>
<body>

<header th:replace="other/homeNav">메인메뉴</header>

<main>
	<!-- 회원 정보 -->
	<section class="memberInfo">
		<div class="propicDiv"><img class="profilePic" th:src="${dto.profileImage}" height=200 alt="프로필 사진"></div>
		<div class="etc">
			<div class="nickcode">
				<h1><span th:text="${dto.m_nickname}"></span>#<span th:text="${dto.m_code}"></span></h1>
				<button th:onclick="location.href='chat?to=[[${dto.m_id}]]'">채팅</button>
				<button th:if="${session.login} != ${dto.m_id}" id="followBtn" th:onclick="doFollow([[${dto.m_id}]])">팔로우</button>
				<button th:if="${session.login} == ${dto.m_id}" id="memberEditBtn" onclick="location.href='memberUpdate'">개인정보수정</button>
<!-- 				<div th:if="${session.login != null}" id="followDiv">
					<button th:if="${session.login} != ${dto.m_id}" id="followBtn" th:onclick="doFollow([[${dto.m_id}]])">팔로우</button>js/doFollow.js에서 팔로우 여부 확인 후 내용 바꿈 
					<button th:if="${session.login} == ${dto.m_id}" id="memberEditBtn" onclick="location.href='memberUpdate'">개인정보수정</button>
				</div> -->
			</div>
			<div class="introduce" th:text="${dto.m_introduce}"></div>
			<div class="followNum">
				<span><span class="point" id="following_count"></span>명을 팔로우 중</span>
				<span><span class="point" id="follower_count"></span>명에게 팔로되는 중</span>
			</div>
			
		</div>
	</section>
	
	<!-- 게시글 목록 -->
	<section id="postList"></section><hr id="endOfPostListPosCheck">
</main>

<div id="globalSidebar">
	<th:block th:if="${session.login}"><nav th:replace="other/fList">팔로목록</nav></th:block>
	<button onclick="parentOpen(this)">≡</button>
	<footer th:replace="other/footer">푸터</footer>
</div>

<div id="chatModals"></div>

<script th:inline="javascript">
//// 팔로잉 수 가져오기
$.ajax({
	type: 'get',
	url: 'func/followingNum',
	async: true,
	data:{ m_id: [[${dto.m_id}]] },
	success: function( data ){
		$('#following_count').text(data);
	},error: function( data ){
		$('#following_count').text('?');
	}
});
//// 팔로워 수 가져오기
$.ajax({
	type: 'get',
	url: 'func/followerNum',
	async: true,
	data:{ m_id: [[${dto.m_id}]] },
	success: function( data ){
		$('#follower_count').text(data);
	},error: function( data ){
		$('#follower_count').text('?');
	}
});
</script>
</body>
</html>