<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>no member found</title>
<!-- script -->
<!-- jQuery --><script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- 검색창 --><script src="js/search.js"></script>
<!-- 공통 --><script th:inline="javascript">sessionLogin = [[${session.login}]];</script><script src="js/globalScript.js"></script><script src="js/chatting.js"></script>
<!-- ??? 게시글 읽기 관련 스크립트 -->

<!-- css -->

<!-- 검색창 --><link rel="stylesheet" href="css/search.css">
<!-- 공통 --><link rel="stylesheet" href="css/global.css"><link rel="stylesheet" href="css/globalFrame.css">
<!-- 채팅 --><link rel="stylesheet" href="css/chat.css"><link rel="stylesheet" href="css/chatModal.css">
</head>
<body>
<header th:replace="other/homeNav">메인메뉴</header>

<main>
찾는 회원이 없습니다.
</main>

<div id="globalSidebar">
	<nav th:replace="other/fList">팔로목록</nav>
	<footer th:replace="other/footer">푸터</footer>
</div>

<div id="chatModals"></div>
</body>
</html>