<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>[[${dto.m_nickname}]]님의 페이지</title>
<link rel="stylesheet" href="css/test.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script th:inline="javascript">postList = [[${PostList}]];/*표시할 게시글 번호 목록. 여기 빨간줄은 무시하자. 잘 된다.(이클립스가 타임리프 모르는 듯)*/</script>
<script th:inline="javascript" src="js/postFromListByScrolling.js"></script>
<script th:inline="javascript">m_id = [[${dto.m_id}]];/* 현재 페이지 계정 주인 */</script>
<script th:inline="javascript" src="js/doFollow.js"></script>
<script>
$(function(){
	followCheck( m_id );// 팔로우 되어있나 확인 ~~ js/doFollow.js
});
</script>
</head>
<body>
[[${session.login}]]번 회원 로그인, [[${dto.m_id}]]번 회원의 페이지
<header th:include="other/homeNav"></header>
<nav th:include="other/fList">친구목록</nav> 


<main>
<section><!-- 회원 정보 -->
	<div class="propicDiv"><img th:src="'data:image/png;base64,'+${dto.m_profilePicString}" height=100></div>
	<div>
		<div>
			<span>[[${dto.m_nickname}]]</span><span>#[[${dto.m_code}]]</span>
			<div th:if="${session.login != null}" id="followDiv">
				<button th:if="${session.login} != ${dto.m_id}" id="followBtn" th:onclick="doFollow([[${dto.m_id}]])">팔로우</button><!-- js/doFollow.js에서 팔로우 여부 확인 후 내용 바꿈  -->
				<button th:if="${session.login} == ${dto.m_id}" id="memberEditBtn" onclick="location.href='memberUpdate'">개인정보수정</button>
			</div>
		</div>
		<div>
			<span><span id="following_count"></span>명을 팔로우 중</span>
			<span><span id="follower_count"></span>명에게 팔로되는 중</span>
		</div>
		<div>자기소개: [[${dto.m_introduce}]]</div>
	</div>
</section>



<section id="postList"></section><hr id="endOfPostListPosCheck">
</main>


<footer th:include="other/footer"></footer>

<script th:inline="javascript">
//// 팔로잉 수 가져오기
$.ajax({
	type: 'get',
	url: 'func/followingNum',
	async: true,
	data:{ m_id: [[${dto.m_id}]] },
	success: function( data ){
		$('#following_count').text(data);
	},error: function( data ){
		$('#following_count').text('?');
	}
});
//// 팔로워 수 가져오기
$.ajax({
	type: 'get',
	url: 'func/followerNum',
	async: true,
	data:{ m_id: [[${dto.m_id}]] },
	success: function( data ){
		$('#follower_count').text(data);
	},error: function( data ){
		$('#follower_count').text('?');
	}
});
</script>
</body>
</html>