<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/PostView.css">
<!-- 슬라이더 -->
<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- 검색창 css -->
<link rel="stylesheet" href="css/search.css">
<!-- homeNav css -->
<link rel="stylesheet" href="css/homeNav.css">
<title>글 보기</title>
</head>
<body>

<header th:include="other/homeNav"></header>
<nav></nav>

<main>

 		
</main>

<footer th:include="other/footer"></footer>
<script src="/js/PostView.js"></script>
<!-- 검색창 js -->
<script src="js/search.js"></script>
<!-- homeNav js -->
<script src="js/homeNav.js"></script>
</body>
</html>