<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/thumnail.css">
<!-- 슬라이더 -->
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<title>글 작성</title>
</head>
<body>

  <script>
  $(document).ready(function(){
      $('.bxSlider').bxSlider({
    	  slideWidth: 500,
    	  captions: true,
      });
    });
  </script>
  
  <div class="box">
  	<ul class="bxSlider">
		<li><img class="imgBox" src="../img/plus.png" /></li> 
		<li><img class="imgBox" src="../img/purin.jpg" /></li> 
		<li><img class="imgBox" src="../img/defaultPropic.png" /></li> 
		<li><img class="imgBox" src="../img/DEMANG.png" /></li> 
	</ul>
  </div>

<script src="/js/thumnail.js"></script>
</body>
</html>