.footer{
    /* background-color: rgb(249, 246, 253); */
    /* border: 2px solid red; */
    height: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.copyright{
    color: #58555e;
}