@charset "UTF-8";
main {
	/*background-color: yellow;*/
}
/*
body
├상단바#globalHeader
│├로고
│├검색창
│└메뉴
│　├접기펴기버튼
│　└메뉴목록
│　　├홈
│　　├글쓰기
│　　├좋아요누른글
│　　└내프로필
│　　　├프사
│　　　└???
├메인
└사이드바 div#globalSidebar
　├친구목록#globalFList
　├접기펴기버튼
　└푸터#globalFooter
*/

/* 공통 */
body {
	position: relative;
}
#globalHeader , main , #globalFList {/* 배경색 */
	background-color: var(--backCol);
}
#globalHeader {/* 좁은 화면에서 푸터등과 겹친 메인메뉴가 그 아래에 깔리지 않고 위로 나오도록 */
	z-index: 1;
}
#globalHeader .logo {/* 로고 이미지 */
	height: 50px;
	max-width: 20vw;
}

#globalHeader #searchBar {/* 검색창 */
	border: 2px var(--themeCol2) solid;
	border-radius: 5px;
	padding: 5px;
	flex-grow: 1;/* 나머지 모든 영역을 차지 */
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
}
#globalHeader #searchBar > * {
	border: none;
	background-color: inherit;
	
}
#globalHeader #searchBar > #search {
	width: 1px;
	flex-grow: 1;/* 검색 버튼을 제외한 나머지 모든 영역을 차지 */
	font-size: 1.2em;
}
#globalHeader #searchBar > #search:not(:focus) {
	font-size: 16px;
}
#globalHeader #searchBar > .search-icon {
	font-size: 2em;
}

main {
	overflow-x: auto;
}


#globalFooter {/* 푸터 */
	text-align: center;
	color: #888;
}



/* 전체 틀 */
/* 넓은 화면 */
@media (min-width: 1801px){
	body {/* 최대너비 제한 */
		width: 1800px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 1501px){
	body {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 300px 1fr 300px;
	}
	/* 메인  */
	main:not([class]) {
		grid-column: 2/3;
		grid-row: 1/2;
	}
	/* 헤더 */
	body > #globalHeader {/* 300px * auto */
		position: fixed;
		top: 0px;
		left: 0px;
		width: 300px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: start;
	}
	#globalHeader .logo {
		display: block;
		margin: 30px auto;
	}
	#globalHeader > * {
		margin: 10px;
		background-color: white;
	}
	#globalHeader #mainMenu > button {/* 메뉴 펴고접기 버튼 없음 */
		display: none;
	}
	#globalHeader .menuList > * {/* 메인메뉴 */
		margin: 5px;
		padding: 10px;
		border: 2px var(--themeCol2) solid;
		border-radius: 5px;
		background-color: white;
	}
	#globalHeader .menuList > *:hover {
		background-color: var(--light2);
	}
	/* 사이드바 */
	#globalSidebar {
		position: fixed;
		top: 0px;
		right: 0px;
		width: 300px;
	}
	#globalSidebar > button{
		display: none;
	}
	#globalFList {
	}
	#globalFooter {
		padding: 20px;
	}
}

/* 보통 넓은 화면 */
@media (min-width: 801px) and (max-width: 1500px){
	/* 전체 틀 */
	body {
		display: grid;
		grid-template-rows: 60px 1fr;
		grid-template-columns: 1fr 300px;
	}
	/* 메인  */
	main:not([class]) {
		grid-row: 2/3;
		grid-column: 1/2;
	}
	/* 헤더 */
	#globalHeader {/* 300px * auto */
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 60px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: center;
	}
	#globalHeader #searchBar {/* 검색창 */
		margin: 0 5vw;
	}
	#globalHeader > * {
		background-color: white;
	}
	#globalHeader #mainMenu> button {
		display: none;
	}
	#globalHeader .menuList {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
	}
	#globalHeader .menuList .menuName {
		display: none;
	}
	#globalHeader .menuList > * {/* 메인메뉴 */
		margin: 5px;
		padding: 10px;
		border: none;
		border-radius: 5px;
		border: 2px var(--light2) solid;
		background-color: var(--light2);
	}
	#globalHeader .menuList > *:hover {
		border-color: var(--themeCol2);
	}
	
	/* 사이드바 */
	#globalSidebar {
		position: fixed;
		top: 60px;
		right: 0px;
		width: 300px;
	}
	#globalSidebar > button{
		display: none;
	}
	#globalFList {
	}
	#globalFooter {
		padding: 20px;
	}
}

/* 좁은 화면 */
@media (max-width: 800px){
	/* 전체 틀 */
	body {
		display: grid;
		grid-template-rows: 100px 1fr;
		grid-template-columns: 1fr;
	}
	/* 메인  */
	main:not([class]) {
		grid-row: 2/3;
		grid-column: 1/2;
	}
	/* 헤더 */
	#globalHeader {/* 300px * auto */
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 60px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}
	#globalHeader > * {
		margin: 10px;
		background-color: white;
	}
	#globalHeader #mainMenu {
		max-height: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: start;
		align-items: start;
	}
	#globalHeader .menuList {
		position: absolute;
		top: 60px;
		right: 0px;
	}
	#globalHeader .menuList > * {/* 메인메뉴 */
		margin: 5px;
		padding: 10px;
		border: 2px var(--themeCol2) solid;
		border-radius: 5px;
		background-color: white;
	}
	#globalHeader .menuList > *:hover {
		background-color: var(--light2);
	}
	#globalHeader #mainMenu:not(.open) .menuList {
		display: none;
	}
	/* 메인메뉴 펴고접기 버튼 >>햄버거메뉴바 */
	/* 사이드바 */
	#globalSidebar {
		position: fixed;
		top: 60px;
		left: 0px;
		width: 100%;
	}
	#globalFList #fListOpenBtn {
		height: 40px;
		width: 100%;
	}
	/*** 접힌 상태 */
	#globalFList:not(.open) {
		height: 40px;
	}
	#globalFList:not(.open) #fListOpenBtn {/* 펴고접기버튼 위치 */
		position: absolute;
		top: 0;
		left: 0;
		background-color: transparent;
	}
	#globalFList:not(.open) #globalFList {/* 팔로우 목록 접혀서 안 보임 */
		display: none;
	}
	/*** 펼친 상태 */
	#globalFList.open {
		height: auto;
	}
	#globalFList.open > #fListOpenBtn {
		background-color: var(--themeCol2);
	}
	#globalFList.open > #fListOpenBtn::before {
		content: '\2191 FOLD\2191';
	}
	/* 푸터 안 보임 */
	#globalSidebar #globalFooter {
		display: none;
	}
}

/* >>햄버거메뉴바 */
.menu-trigger {
	position: relative;
	width: 30px;
	height: 26px;
}
.menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: var(--themeCol1);
	border-radius: 4px;
	display: inline-block;
	transition: all 0.3s;
	box-sizing: border-box;
}
.menu-trigger span:nth-of-type(1) {top: 0;}/* 막대들의 세로위치 */
.menu-trigger span:nth-of-type(2) {top: 11px;}
.menu-trigger span:nth-of-type(3) {bottom: 0;}
/* 열린 상태: 첫째, 세째 막대는 회전하며 x자 그림 . 둘째 막대는 사라짐 */
#mainMenu.open .menu-trigger span:nth-of-type(1) {
	transform: translateY(11px) rotate(-45deg);}
#mainMenu.open .menu-trigger span:nth-of-type(3) {
	transform: translateY(-11px) rotate(45deg);}
#mainMenu.open .menu-trigger span:nth-of-type(2) {
	opacity: 0;}


/*
팔로우 목록 nav#globalFList
├'나의 팔로우' h1
└팔로우한 회원 하나 div.fItem
　├프사
　├닉과 코드
　└채팅버튼 button.chatBtn
*/
/* 팔로우 목록 */
#globalFList {
	max-height: 50vh;
	overflow: auto;
}
#globalFList > h1{
	font-size: 1.2em;
	text-align: center;
}
#globalFList > .fItem {
	margin: 12px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
#globalFList > .fItem img.profilePic {
	height: 40px;
	width: 40px;
}
#globalFList > .fItem > .profilePic ,
#globalFList > .fItem > .chatBtn {
	flex-grow: 0;
}
#globalFList > .fItem > .nickcode {
	flex-grow: 1;
	text-align: left;
}

