body{
    margin: 0;
    padding: 0;
}

/* homeNav css 부분 */
#homeNav{
    border: 2px solid blueviolet;
    width: 100vw;
    height: 16vh;
}

.blank{
    border: 1px solid red;
    height: 2vh;
}

.blankNav{
    height: 11vh;
    display: flex;
    justify-content: space-around;
}

.box{
    border: 1px solid brown;
    width: 25vw;
}

.searchBox{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuBox{
    display: flex;
    align-items: center;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 20vw;
}

/* 검색 후 유저정보와 post 정보 css 부분 */
.contentBox{
    border: 2px solid red;
    width: 100%;
    height: 81vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1{
    border: 2px solid blueviolet;
    width: 60vw;
    height: 25vh;
}

.content2{
    border: 2px solid cadetblue;
    width: 60vw;
    height: 55vh;
}

.userBoxLine{
    border: 1px solid coral;
    width: 100%;
    height: 8vh;
    display: flex;
}

.userBox{
    border: 1px solid blue;
    padding-left: 5px;
    width: 25%;
    height: 8vh;
    display: flex;
    align-items: center;
}

.userProfile{
    display: flex;
    align-items: center;
    width: 100%;
}

.postLine{
    border: 2px solid blue;
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: space-around;

}

.post{
    margin: 0;
    padding: 0;
    border: 1px solid red;
    width: 30%;
    height: 35vh;
    display: flex;
}

.imgBox{
    width: 100%;
    height: 35vh;
    overflow: hidden;
}

.contentImg{
    width: 100%;
    height: 100%;
}

.userInfoBox{
    background-color: black;
    width: 18vw;
    height: 35vh;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    position: absolute;
    transition-property: opacity, background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.post:hover > .userInfoBox{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

figure{
    width: 100%;
    height: 35vh;
    margin: 0;
}

.imgBox figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.post:hover .imgBox figure img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.userInfo{
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    padding-left: 7%;
}

.profileImg{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.profileImg img{
    width: 100%;
}

.email_nickName{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
    height: 50px;
}

.nickName{
    font-size: 1em;
    font-weight: 700;
}

.nickCode{
    color: rgba(0, 0, 0, 0.7);
}

.email{
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    font-weight: 700;
}














