@charset "UTF-8";

/* 업로드한 프사 미리보기 */
.profilePic {
	box-shadow: 0 0 5px #0004;
}
#profilePicLabel:not(.default) > #profilePicDefault {
	display: none;
}
#profilePicLabel:not(.current) > #profilePicCurrent {
	display: none;
}
#profilePicLabel:not(.preview) > #profilePicPreview {
	display: none;
}

