@charset "UTF-8";
/*
메인
├게시글 = post/post.html = div.post
└상품 목록 div.merchandises
*/

/* 게시물 영역 틀 */
.post {
	display: grid;
	grid-template-rows: 1fr 50px;
	grid-template-columns: 1fr 300px;
	margin-top: 5vh;
}
.post > .postView {/* 게시물 */
		grid-row: 1/2;
		grid-column: 1/2;
}
.post > .menubar {/* 메뉴 */
		grid-row: 2/3;
		grid-column: 1/2;
}
.post > .comments {/* 댓글 */
		grid-row: 1/3;
		grid-column: 2/3;
}



/* body{
    margin: 0px;
}

.wrap{
	display:flex;
   border: 1px solid black;
   height: 70vh;
   width: 80vw;
}

.contentWrap > div{
	margin-left: 5vw;
}

.title{
	display:flex;
	border: 1px dotted blue;
	height: 5vh;
	width: 60vw;
	margin-top:2vw;
}

.content{
    border: 1px solid red;
    height: 50vh;
    width: 60vw;
}

.p_content{
	overflow: auto;
}

.p_image{
	border: 1px dotted orange;
	text-align:center;
	height: 30vh;
	width: 60vw;
}

.bxSlider img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.imgBox{
	width: 300px;
	height: 300px;
}

.propic{
	width: 50px;
	height: 50px;
}

.tag{
	border: 1px solid lightgrey;
	height: 3vh;
	width: 60vw;
}

.commentRead{
	margin-top: 2vw;
	border: 1px solid green;
	height: 75%;
	width: 12vw;
	overflow: auto;
}

.commentInsert{
	display: flex;
	flex-flow: row nowrap;
	justify-content: start;
	align-items: center;
	font-size: 2em;
} */
.post > .postView > .writerInfo .profilePic {
	height: 100px;
	width: 100px;
}
.post > .postView > .writerInfo .nickname {
	margin-left: 13px;
}
/* 게시물 - 이미지 */
.post > .postView > .postImgs {
}
.post > .postView > .postImgs  img {
	height: 50vh;
}

.bxSlider > li{
	overflow: hidden;
	position: relative;
}

.bxSlider > li > img{ 
	display: block;
	margin: 0 auto;
}

/* 게시물 - 본문 */
.post > .postView .content {
	padding: 20px;
}
.post > .postView .content > .more {/* 게시글 상세보기 페이지에서는 더보기 버튼 안 씀 */
	display: none;
}

/* 메뉴 */
.post > .menubar {
	border-top: #ddd solid 2px;
}
.post > .menubar button  {
	border: none;
	background-color: inherit;
	font-size: inherit;
	font-weight: bold;
	color: #aaa;
	transform: scale(0.9, 0.9);
}
.post > .menubar > button:hover  {
	transform: scale(1, 1);
}
.post > .menubar > .comment {
	display: none;
}
.post > .menubar > .report {
	float: right;
}

/*
댓글 목록 ul.commentList
└댓글 한 개 li
　├프사
　├닉네임
　├본문
　├날짜
　└삭제 혹은 신고
*/

/* 댓글 목록 */

.comments{
	margin-left: 10px;
}

.commentForm > .c_content {
	padding: 8px;
	background-color: white;
}

.commentList .profilePic {
	height: 30px;
	width: 30px;
}
.commentList .regdate {
	color: grey;
}

.commentList > .comment{
	margin-top: 5px;
}
