@charset "UTF-8";
/*
게시물영역 div.post
├게시물 article.postView
│├글쓴이 정보 h1.writerInfo
│├이미지들 div.postImgs
│└본문 div.content
│
├메뉴 div.menubar
│├좋아요
│├댓글
│├삭제
│└신고
│
└댓글 영역 div.comments
　├댓글쓰기 div.myComment
　└댓글목록 ul.commentList
*/

/* 게시물 영역 */
.post {
	margin: 30px 15px;
	padding: 20px;
	border: var(--themeCol1) solid 3px;
	border-radius: 10px;
	background-color: white;
	box-shadow: var(--themeCol2) 0 0 5px
}

.noPost {
	margin: 30px 15px;
	padding: 20px;
	border: var(--themeCol1) solid 3px;
	border-radius: 10px;
	background-color: white;
	box-shadow: var(--themeCol2) 0 0 5px
}

/* 게시물 - 글쓴이 정보 */
.post > .postView > .writerInfo {
	display: flex;
	flex-flow: row nowrap;
	justify-content: start;
	align-items: center;
	font-size: 1.5em;
}
.post > .postView > .writerInfo .profilePic {
	height: 70px;
	width: 70px;
}
.post > .postView > .writerInfo .nickname {
	margin-left: 13px;
}
/* 게시물 - 이미지 */
.bxSlider > li{
	overflow: hidden;
	position: relative;
}
.bxSlider > li > img{ 
	display: block;
	margin: 0 auto;
	height: 500px;
}
/* 게시물 - 본문 */
.post > .postView > .content .more {/* 더보기 버튼 */
	float: right;
}

/* 메뉴: post.css에 */


/*
댓글 영역 div.comments
├새 댓글 입력란 form.commentForm
│├input
│└button
│
└댓글 목록 ul.commentList
　└댓글 한 개 li
　　├프사
　　├닉네임
　　├본문
　　├날짜
　　└삭제 혹은 신고
*/
/* 새 댓글 입력란 */
.post:not(.newComment) .commentForm {/* 댓글버튼 누르기 전에는 안 보임 */
	display: none;
}
.post .commentForm {
	margin: 20px 0;
	display: flex;
	flex-flow: row nowrap;
}
.post .commentForm > input {
	flex-grow: 1;
}
.post .commentForm > button {
	flex-grow: 0;
}

/* 댓글 목록 */
.commentList .profilePic {
	height: 30px;
	width: 30px;
}
.commentList .regdate {
	color: grey;
}
.commentList > * {
	margin: 7px 0;
}



