@charset "UTF-8";
/*
main
└section#postList
　├div.post(=post/postItem_album.html)
　├div.post(=post/postItem_album.html)
　├ …
　└div.post(=post/postItem_album.html)
*/
#postList {
	display: flex;
	flex-flow: row wrap;
}
#postList > * {
	width: 300px;
	height: 200px;
}

