@charset "UTF-8";

body{
    margin: 0px;
}

.imsi{
    border: 1px dotted black;
    width: 80vw;
    height: 10vh;
}

.imsi2{
    border: 1px dotted black;
    width: 80vw;
    height: 20vh;
}

.wrap{
    border: 1px solid black;
    height: 70vh;
    width: 80vw;
}

.wrap > div{
	margin-left: 5vw;
}

.title{
	border: 1px dotted blue;
	height: 5vh;
	width: 60vw;
	margin-top:2vw;
}

.content{
    border: 1px solid red;
    height: 50vh;
    width: 60vw;
}

.tag{
	border: 1px solid lightgrey;
	height: 3vh;
	width: 60vw;
}

.comment{
	border: 1px solid green;
	height: 3vh;
	width: 60vw;
}