@charset "UTF-8";
/*
main
└section#postList
　├div.post(=post/postItem_album.html)
　├div.post(=post/postItem_album.html)
　├ …
　└div.post(=post/postItem_album.html)
*/
#postList {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
#postList > * {
	margin-bottom: 20px;
}

#postList > .ppp{
	width: 301px;
	height: 300px;
}

#postList > .ppp3 {
	margin: 30px 15px;
	padding: 20px;
	border: var(--themeCol1) solid 3px;
	border-radius: 10px;
	background-color: white;
	box-shadow: var(--themeCol2) 0 0 5px
}


.ppp2{
	box-shadow: var(--themeCol2) 0 0 5px
}


.ppp .writerInfo{
	display: flex;
	width: 100%;
	background-color: black;
	position: relative;
	top: 84%;
	z-index: 1;
}

.ppp .content{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	top: -16.5%;
}

.ppp .contentText{
	display: flex;
	justify-content: center;
	align-items: center;
}

.writerInfo .writerInfoText{
	margin-top: -5px;
	margin-left: 10px;
}

.writerInfoText .nickname, .code{
	font-size: 1.4em;
	font-weight: 700;
}

.writerInfoText .email{
	font-size: 1.2em;
	font-weight: 500;
}

figure img{
    width: 100%;
}

figure span{
    width: 100%;
	font-size: 1.5em;
}

.content figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.ppp:hover .content figure img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.ppp .writerInfo{
	opacity: 0;
	transition-property: opacity, background-color;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

.ppp:hover > .writerInfo{
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.7);
}