@charset "UTF-8";
/*
폼 form#postForm
├게시글 종류 div#p_type
│
├작성완료 버튼 button
│
├상품 정보 div#mer
│├상품 정보 ul#merList
││└항목 li 여럿
││　├상품명 label, input
││　├단가 label, input
││　├수랑 label, input
││　└삭제 버튼 button
││
│└상품 추가 button#merAddBtn
│
└게시글 내용 div#postBody
　├이미지 첨부 ul#selectedImgs
　└본문 textarea#p_content

  
*/


#postForm {
   display: flex;
   flex-flow: column nowrap;
   margin-top: 5vh;
}
#postForm > * {
   margin-top: 30px;
}

#p_type {
   display: inline-block;
}

/* 일반/판매/리뷰 선택 */
#p_type > input[type="radio"]{
	display: none;
}

#p_type > label {
	display:inline-block;
	background:none;
	border:1px solid var(--light2);  
	padding:0px 10px;
	text-align:center;
	height:35px;
	line-height:33px;
	font-weight:500;
	cursor:pointer;
}

#p_type > input:checked + label ,/* 선택된 선택지의 라벨 */
#p_type > label:hover {/* 마우스 올려본 라벨 */
	background: var(--themeCol1);
	color: var(--light1);
}

/* 상품 정보 */
#postForm:not(.p_type_s) #mer {/* 판매글이 아니면 상품목록 숨김 */
   display: none;
}
#postForm #merList > li ,
#postForm #merAddBtn {
   position: relative;
   margin-top: 8px;
   box-sizing: border-box;
   width: 100%;
   padding: 13px;
   border: var(--light2) solid 2px;
   background-color: var(--backCol);
   display: block;
}
#postForm #merList > li > .xbutton {
   position: absolute;
   top: 0px;
   right: 0px;
   border: none;
   height: 50px;
   width: 40px;
   background-color: var(--themeCol1);
   color: var(--light1);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* 게시글 내용 */
#postBody {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
}

/* 본문 */
#postForm #p_content {
   margin: 5px;
   padding: 15px;
   border: 4px solid var(--themeCol2);
   border-radius: 20px;
   resize: none;
}


/* 이미지 첨부 */
#selectedImg {
   display: flex;
   flex-flow: row wrap;
}

#selectedImg .file_label {/* input 대신 눌릴 라벨 */
   background-image: url(../img/photo-camera.png);
   background-size: cover;
   display: inline-block; 
   width: 150px;
   height: 150px;
   cursor: auto;
}

#selectedImg input[type="file"] {/* input은 눌리지 않게 표시 안함 (대신 라벨을 누름) */
   display: none
}
#selectedImg .innerImg {
   width: 150px;
   height: 150px;
}
#selectedImg > li:nth-child(9) {/* 이미지는 8개까지만 첨부 가능: 9번째 input을 숨김 */
   display: none;
}
