@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
}


.mainwrap{
    /* border: 2px solid blue; */
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.subwrap{
    height: auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.notice{
    border: 3px solid var(--themeCol1);
    border-radius: 5px;
    display: flex;
    width: 22vw;
    height: 20vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.notice p{
    /* border: 1px solid red; */
    text-align: center;
}

div#contactUsBtn{
    display: flex;
    justify-content: center;
}

div.contactUs{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 문의 하기 모달 css */
.contactUsModalBack {
    z-index: 1;
    position: absolute;
    top: 0;
    left: -50px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}
  
.contactUsModal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 80vh;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 5px 5px 1px rgba(34, 36, 38, 0.5);
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactUsModalBack2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
  
.contactUsModal2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20vw;
    height: 20vh;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 2px 5px 5px 1px rgba(34, 36, 38, 0.5);
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

form#contactInsert {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.mailwrap{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.contactUsTitle{
    /* border: 1px solid red; */
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
}

div.fromEmail{
    /* border: 1px solid blue; */
    width: 80%;
    height: 5%;
}


div.contentTitle{
    /* border: 1px solid red; */
    width: 100%;
    height: 10%;   
}

div.contentTitleWrap{
    /* border: 1px solid blue; */
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

input.title{
    border: 2px solid black;
    width: 420px;
    height: 35px;
}


div.content{
    /* border: 1px solid red; */
    width: 100%;
    height: 45%;
}

div.contentwrap{
    /* border: 1px solid blue; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div.fileUploadwrap{
    /* border: 1px solid red; */
    width: 100%;
    height: 20%;
}

div.fileUploadList{
    /* border: 1px solid blue; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#content{
    border: 2px solid black;
    width: 98%;
    height: 100%;
    resize: none;
    font-size: 1.5em;
    padding-left: 10px;
    padding-top: 10px;
}

#c_contactUsValues {
    width: 200px;
    padding: .8em .5em;
    margin-left: 3%;
    border: 2px solid black;
    font-family: inherit;
    background: url('../img/arrow.jpg') no-repeat 95% 50%;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 700;
}
    
#c_contactUsValues::-ms-expand {
    display: none;
}

span.subtext{
    font-weight: 700;
}

/* 이미지 업로드 css */

.insert {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.insert .file-list {
    overflow: auto;
    height: 10vh;
    border: 1px solid #989898;
    padding: 10px;
}
.insert .file-list .filebox p {
    font-size: 14px;
    margin-top: -1%;
    display: inline-block;
}
.insert .file-list .filebox .delete i{
    color: #ff5353;
    margin-left: 5px;
}


/* 버튼 css */

input,
input:visited {
  text-decoration: none;
}

input.button {
    display: block;
    position: relative;
    float: left;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border: 0;
    border-radius: 5px;
    transition: all 0.2s ;
}

.btnBlueGreen {
    background: #0c0e18;
}
.btnBlueGreen.btnPush {
    box-shadow: 0px 5px 0px 0px #000000;
}

.btnOrange {
    background: #7e2e2e;
}
.btnOrange.btnPush {
    box-shadow: 0px 5px 0px 0px #4a1c1c;
}

.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
}
  
.btnBlueGreen.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #007144;
}

.btnOrange.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #A66615;
}