@charset "UTF-8";
body{
    margin: 0;
    padding: 0ch;
}



.div1{
    border: 2px solid black;
    text-align: center;
    width: 500px;
    height: 720px;
    margin-left: 38%;
    margin-top: 3%;

}
.wrapper{
	
}
.div2{
    border: 2px solid black;
  
    width: 500px;
    height: 100px;
    margin-left: 38%;
    margin-top: 15px;

}
.ID{
    height: 30px;
    width: 235px;
    margin-top: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    
    
}
.rerecheck{

	height: 20px;
	
}
.email{
	
	height: 25px;
}
.name{
	
	height: 25px;
}
.pw{
	
	height: 25px;
}
.repw{
	
	height: 25px;
}
.PW{
    height: 30px;
    width: 235px;
    margin-top: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}
.Name{
    height: 30px;
    width: 235px;
    margin-top: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}
.img1{
    margin-top: 50px;
    margin-bottom: 10px;
}
.frame1 {
    width: 90%;
    margin: 18px auto;
    text-align: center;
    margin-top: -30px
  }
  
  .birth{
	margin-top: 18px;
}

/*새버튼 수정해라*/
.frame2 {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    margin-left:30% ;
    margin-bottom: 1000px;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-size: 25px;
  }
  .btn-1 {
    width: 235px;
    height: 60px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  margin-top: -5px;
  }
  .btn-1:hover {
    color: #000000;
    background: transparent;
     box-shadow:none;
  }
  .btn-1:before,
  .btn-1:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #000000;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-1:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-1:hover:before,
  .btn-1:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  .btn-2{
    position: relative;
    right: 110px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 120px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .btn-2 span {
    background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(254, 255, 255) 0%, rgb(255, 255, 255) 100%);
    display: block;
    position: absolute;
    width: 300px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .btn-2 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-2 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-2:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .btn-2:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
 
 






/* 스타일 */
p {
position:relative; 
width:250px; 
height:50px; 
display:inline-block;
margin-bottom: 0px;

} /* 기본세팅 */
p input {

box-sizing:border-box; 
padding:20px 0 0; 
width:100%;
height:100%; 
border:0 none; 
color:#595f63; 
outline:none; 
}
p label { 
position:absolute; 
left:0%; 
bottom:0; 
width:250px; 
height:100%; 
border-bottom:1px solid #000; 
text-align:left; 
pointer-events:none; 
   }
   p label:after { 
content:""; 
position:absolute; 
left:0; 
bottom:-1px;
width:0;
 height:100%; 
 border-bottom:3px solid rgb(0, 0, 0);
 transition:all .6s ease; 
 } /* 파란색 가로줄 */
p label span { 
position:absolute; 
left:0; bottom:5px; 
transition:all .2s ease; 
   }
p input:focus + label span, 
p input:valid + label span { 
transform:translateY(-150%); 
font-size:14px; 
color:rgb(0, 0, 0); }  /* input에 글을 입력하고 포커스가 지나간 상태에서 제어하려면 valid 선택자를 써야한다. */
/* 포커스 될 때 label span(name)이 위로 올라감 */
p input:focus + label::after,
p input:valid + label::after { 
width:250px; 
transform:translateX(0); } 
/* 포커스 될 때 파란색 가로줄이 생김 */






@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}

.box {
margin-left: 44.55%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 250px;
	
}

/* Box colors */


/* Common button styles */
.button {
	
  float: left;
  min-width: 300px;
  max-width: 500px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */


/* Sizes */
.button--size-s {
  font-size: 14px;
}
.button--size-m {
  font-size: 16px;
}
.button--size-l {
  font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.button--text-thin {
  font-weight: 300;
}
.button--text-medium {
  font-weight: 500;
}
.button--text-thick {
  font-weight: 600;
}
.button--round-s {
  border-radius: 5px;
}
.button--round-m {
  border-radius: 15px;
}
.button--round-l {
  border-radius: 40px;
}

/* Borders */
.button--border-thin {
  border: 1px solid;
}
.button--border-medium {
  border: 2px solid;
}
.button--border-thick {
  border: 3px solid;
}

/* Individual button styles */
.button--rayen {
  overflow: hidden;
  padding: 0;
  width: 500px;
}
.button--rayen.button--inverted {
  color:black;
}
.button--rayen::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:white;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.button--rayen.button--inverted::before {
  background: rgb(0, 0, 0);
  color: white;
}
.button--rayen > span {
  display: block;
}
.button--rayen::before,
.button--rayen > span {
  padding: 1em 2em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--rayen:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--rayen:hover > span {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
