<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>채팅</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<div id="chatHistory">여기에 채팅내용 표시</div>
<form>
	<input type="text" id="chat_content" name="h_content" placeholder="뭐라 칠려고 했더라?">
	<button type="button" onclick="chat_send()">보내기 버튼</button>
</form>



<script>
function chat_send(){// ajax로 메시지 한 개 보내기
	$.ajax({
		type: 'post',
		url: 'chat/send',
		data:{
			to: 1,
			h_content: $('#chat_content').val()
		},
		success: function(data){
			$('#chatHistory').text('성공 '+data);
			// ??? 채팅 내용 새로고침 하기
			$('#chat_content').val('');// 입력창 비우기
		},error: function(){console.log('메시지 전송 실패')}
	});
}
//// 주기적으로 채팅내용 새로고침
function chat_refresh(){// 채팅 내용 새로고침
}
</script>
</body>
</html>