<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/PostView.css">
<title>글 작성</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

	<header></header>
    <nav class="imsi"></nav>
    <main>
        <div class="wrap">
            <div class="title">이름+프사 뜨는 곳</div>
            <div class="content">내용</div>
        	  <div class="tag">좋아요, 팔로우, 태그 등등 누르는 버튼나오는 곳</div>
        	  <div class="comment">댓글 나오는 곳</div>
        </div>
    </main>

    <footer class="imsi2"></footer>

<script src="/js/PostView.js"></script>
</body>
</html>