<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>글 작성22</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

	<form action="/testInsert" method="post" enctype="multipart/form-data">
		텍스트 : <input type="text" name="name"> <br>
		파일 : <input type="file" name="file"> <br>
		<input type="submit" value="전송">
	</form>

<script src="/js/write.js"></script>
</body>
</html>