<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pro.demang.mapper.MainMapper">

	
	<!-- 게시글 & 회원 조인용 (PostDTO 안에 MemberDTO 있다) -->
	<resultMap id="memberDTO" type="org.pro.demang.model.MemberDTO">
		<result column="m_id" property="m_id"/>
		<result column="m_code" property="m_code"/>
		<result column="m_email" property="m_email"/>
		<result column="m_nickname" property="m_nickname"/>
		<result column="m_profilePic" property="m_profilePic"/>
	</resultMap>
	<resultMap id="postDTO" type="org.pro.demang.model.PostDTO">
		<result column="p_id" property="p_id"/>
		<result column="p_origin" property="p_origin"/>
		<result column="p_type" property="p_type"/>
		<result column="p_writer" property="p_writer"/>
		<result column="p_content" property="p_content"/>
		<result column="p_likeCount" property="p_likeCount"/>
		<collection property="memberDTO" resultMap="memberDTO"/>
		<collection property="postImgDTO" resultMap="postImgDTO"/>
	</resultMap>
	
	<resultMap id="postImgDTO" type="org.pro.demang.model.PostImgDTO">
		<result column="i_no" property="i_no"/>
		<result column="p_id" property="p_id"/>
		<result column="i_image" property="i_image"/>
	</resultMap>
	
	<resultMap id="commentDTO" type="org.pro.demang.model.CommentDTO">
		<result column="c_id" property="c_id"/>
		<result column="c_writer" property="c_writer"/>
		<result column="c_content" property="c_content"/>
		<result column="c_postNo" property="c_postNo"/>
		<result column="c_regDate" property="c_regDate"/>
		<collection property="memberDTO" resultMap="memberDTO"/>
	</resultMap>
	
	<resultMap id="chatDTO" type="org.pro.demang.model.ChatDTO">
		<result column="h_id"       property="h_id"/>
		<result column="h_speaker"  property="h_speaker"/>
		<result column="h_listener" property="h_listener"/>
		<result column="h_content"  property="h_content"/>
		<result column="h_datetime" property="h_datetime"/>
		<collection property="memberDTO" resultMap="memberDTO"/>
	</resultMap>

	<resultMap id="tagDTO" type="org.pro.demang.model.TagDTO">
		<result column="t_tag" property="t_tag"/>
		<collection property="postDTO" resultMap="postDTO"/>
	</resultMap>
	
	<resultMap id="LikeDTO" type="org.pro.demang.model.LikeDTO">
		<result column="l_id" property="l_id"/>
		<result column="l_postNo" property="l_postNo"/>
	</resultMap>
	
	<resultMap id="OrderDTO" type="org.pro.demang.model.OrderDTO">
		<result column="ord_id" property="ord_id"/>
		<result column="ord_buyer" property="ord_buyer"/>
		<result column="ord_target" property="ord_target"/>
		<result column="ord_target_name" property="ord_target_name"/>
		<result column="ord_amount" property="ord_amount"/>
		<result column="ord_buyer_name" property="ord_buyer_name"/>
		<result column="ord_buyer_email" property="ord_buyer_email"/>
		<result column="l_ord_buyer_telid" property="ord_buyer_tel"/>
		<result column="ord_buyer_address" property="ord_buyer_address"/>
		<result column="ord_buyer_postcode" property="ord_buyer_postcode"/>
		<result column="ord_price" property="ord_price"/>
		<result column="ord_state" property="ord_state"/>
	</resultMap>


	<!-- 특정 회원이 팔로우한 회원 목록 -->
	<select id="fList" resultType="org.pro.demang.model.MemberDTO">
		select m.m_id, m.m_profilePic, m.m_nickname, m.m_code
		from followTBL f join memberTBL m where f.followee = m.m_id and
		f.follower = #{follower}
	</select>
	
	<!-- 유저 검색 기능 쿼리문 -->
	<select id="memberSearch" resultType="org.pro.demang.model.MemberDTO">
		select * from memberTBL m where m_email like '%' #{reSearchVal} '%' or m_nickname like '%' #{reSearchVal} '%'
	</select>

	<!-- 게시글 검색 기능 쿼리문 -->
	<select id="postSearch" parameterType="org.pro.demang.model.PostDTO" resultMap="postDTO">
		select m.*, p.*, p2.*
		from memberTBL m
		inner join postTBL p
		on p.p_writer = m.m_id
		left join postImgTBL p2 
		on p2.p_id = p.p_id
		where p.p_content like '%' #{searchVal} '%'
	</select>

	<!-- 검색 결과 이미지 한개 -->
	<select id="getImage" resultType="org.pro.demang.model.PostImgDTO">
		select * from postimgtbl where p_id = #{no} order by i_no asc limit 1
	</select>

	<!-- 검색 결과 게시글 번호 -->
	<select id="getPostNO" resultType="Integer">
		select p_id from postTBL where p_content like '%' #{searchVal} '%'
	</select>

	<!-- 태그 검색 결과 게시글 번호 -->
	<select id="tagForGetPostNO" resultType="Integer">
		select t_postNo from tagonposttbl where t_tag = #{reSearchVal}
	</select>

	<!-- 해당 태그의 게시물 검색 쿼리문 -->
	<select id="tagSearch" parameterType="org.pro.demang.model.TagDTO" resultMap="tagDTO">
		select t.*, p.*, m.*
		from tagOnPostTBL t
		inner join postTBL p
		on t.t_postNo = p.p_id
		inner join memberTBL m 
		on p.p_writer = m.m_id 
		where t.t_tag = '#{reSearchVal}'
	</select>

	<!-- 댓글 목록 불러오는 쿼리문 -->
	<select id="commentShow" resultType="org.pro.demang.model.CommentDTO">
		Select m.m_nickname, m.m_profilePic , m.m_code , c.* from commentTBL c join memberTBL m on c.c_writer = m.m_id WHERE c_postNo = #{p_id} order by c_regDate DESC
	</select>

	<!-- 게시글 관련 -->
	<insert id="postInsert" useGeneratedKeys="true" keyProperty="p_id">
		INSERT INTO postTBL (p_origin, p_type, p_writer, p_content) VALUES(#{p_origin}, #{p_type}, #{p_writer}, #{p_content})
	</insert>
	
	<insert id="postInsertN" useGeneratedKeys="true" keyProperty="p_id">
		INSERT INTO postTBL (p_type, p_writer, p_content) VALUES(#{p_type}, #{p_writer}, #{p_content})
	</insert>
	
	<insert id="postInsertS" useGeneratedKeys="true" keyProperty="p_id">
		INSERT INTO postTBL (p_type, p_writer, p_content) VALUES(#{p_type}, #{p_writer}, #{p_content})
	</insert>
	
	<update id="postSellUpdate">
		UPDATE postTBL set p_type = #{p_type} WHERE p_id = #{p_id}; 
	</update>
	
	<select id="reViewCheck" resultType="boolean">
		SELECT if(count(*) = 1, 1, 0) FROM postTBL join orderTBL join merchandiseTBL on postTBL.p_id = #{p_id} and merchandiseTBL.mer_target = #{p_id} AND ord_buyer = #{ord_buyer} and ord_state = 'O';
	</select>
	
	
	<!-- 이미지 등록 -->
	<insert id="postInsertImg">
		Insert into postImgTBL (p_id, i_image) values (#{p_id}, #{i_image})
	</insert>

	<!-- 문의하기 등록 -->
	<insert id="contactUsInsert" useGeneratedKeys="true" keyProperty="c_id">
		INSERT INTO contactUsTBL (m_email, c_contentTitle, c_contactUsValues, c_content)
		VALUES(#{m_email}, #{c_contentTitle}, #{c_contactUsValues}, #{c_content})
	</insert>

	<!-- 문의하기 이미지 등록 -->
	<insert id="contactUsImgInsert">
		INSERT INTO contactUsImgTBL (c_id, i_image)
		VALUES(#{c_id}, #{i_image})
	</insert>
	
	<!-- 새 해시태그 등록 -->
	<insert id="hashtagInsert">
		CALL INSERT_HashtagOnPostTBL(#{hashtag})
	</insert>
	<!-- 게시글에 해시태그 등록 -->
	<insert id="hashtagOnTableInsert">
		INSERT INTO tagOnPostTBL (t_tag, t_postNo) VALUES(#{hashtag}, #{p_id})
	</insert>

	<!-- 검색 결과 회원 코드 중복 확인 -->
	<select id="codeCheck" resultType="Integer">
		select count(*) from memberTBL where m_code = #{code}
	</select>

	<!-- 이것은 회원가입 쿼리문입니다. -->
	<insert id="memberInsert">
		INSERT INTO memberTBL(m_code, m_email, m_nickname, m_password, m_birth )
		 VALUES(#{m_code}, #{m_email},#{m_nickname},#{m_password},#{m_birth})
	</insert>

	<!-- 이메일 인증코드 등록 쿼리 -->
	<insert id="emailCodeInsert">
		INSERT INTO emailcheckTBL(m_email, e_code)
		VALUES(#{m_email}, #{e_code})
	</insert>

	<!-- 회원 번호로 회원 찾기 -->
	<select id="getMember_no"
		resultType="org.pro.demang.model.MemberDTO">select * from memberTBL WHERE m_id = #{no}
	</select>
	
	<!-- 이메일로 회원 찾기 -->
	<select id="getMember_email"
		resultType="org.pro.demang.model.MemberDTO">select * from memberTBL WHERE m_email = #{m_email};
	</select>
	
	<!-- 팔로잉 수, 팔로워 수 (회원번호로) -->
	<select id="followingCount" resultType="Integer">
	SELECT COUNT(follower) from followTBL WHERE follower = #{no}</select>
	<select id="followerCount" resultType="Integer">
	SELECT COUNT(followee) from followTBL WHERE followee = #{no}</select>
	
	<!-- 팔로우하기 -->
	<insert id="doFollow">INSERT INTO followTBL (follower, followee) VALUES(#{m1}, #{m2})</insert>
	<select id="followCheck" resultType="Integer">
	SELECT COUNT(*)  FROM followTBL WHERE follower=#{m1} AND followee=#{m2}</select>
	
	<!-- 좋아요 누르기 -->
	<insert id="addLike">INSERT INTO likeTBL (l_id, l_postNo) VALUES(#{l_id}, #{l_postNo})</insert>
	<update id="addLikeCount"> UPDATE postTBL set p_likeCount = p_likeCount + 1 WHERE p_id = (#{l_postNo})</update>
	
	<!-- 좋아요 누른 게시물인지 확인하기 -->
	<select id="likeCheck" resultType="String">SELECT Count(*) FROM likeTBL WHERE l_id = #{l_id} AND l_postNo = #{l_postNo}</select>
	
	<!-- 게시글의 좋아요 개수 -->
	<select id="likeCount" resultType="String">SELECT p_likeCount from postTBL WHERE p_id = #{l_postNo};</select>

	<!-- 해당 번호의 회원의 게시글들(게시글번호만)(최신순) -->
	<select id="getPostList_writer" resultType="Integer">
	SELECT * FROM postTBL WHERE p_writer=#{no} ORDER BY p_id DESC</select>
		
	<!-- 해당 번호의 회원이 팔로우한 회원들이 쓴 게시글들(게시글번호만)(최신순) -->
	<select id="getPostList_followee" resultType="Integer">
		SELECT p.p_id
		FROM followTBL f
		JOIN postTBL p
		ON f.followee = p.p_writer
		WHERE f.follower = #{no}
		ORDER BY p.p_id DESC;
	</select>


	<!-- 게시글 번호로 게시글 찾기 -->
	<select id="getPost" resultType="org.pro.demang.model.PostDTO" resultMap="postDTO">
	SELECT m.*, p.* from postTBL p JOIN memberTBL m ON p.p_writer = m.m_id WHERE p_id = #{no}</select>
	<!-- 게시글 번호로 댓글들 찾기 최신순 -->
	<select id="getCommentList" resultType="org.pro.demang.model.CommentDTO" resultMap="commentDTO">
	SELECT m.*, c.*
	   from commentTBL c
	   join memberTBL m 
	   on c.c_writer = m.m_id
	   WHERE c_postNo = #{no}
	   ORDER BY c.c_id DESC
	</select>
	<!-- 게시글 번호로 댓글들 찾기. 최신 세 개만 -->
	<select id="getCommentList_recent" resultType="org.pro.demang.model.CommentDTO" resultMap="commentDTO">
	SELECT m.*, c.*
	   from commentTBL c
	   join memberTBL m 
	   on c.c_writer = m.m_id
	   WHERE c_postNo = #{no}
	   ORDER BY c.c_id DESC
		LIMIT 3
	</select>
	<!-- 게시글 번호로 해당 게시글의 이미지들 찾기 -->
	<select id="getImageList" resultType="org.pro.demang.model.PostImgDTO">
	SELECT * FROM postImgTBL WHERE p_id = #{p_id}
	</select>
	
	<!-- 댓글 등록 -->
	<insert id="commentInsert" useGeneratedKeys="true" keyProperty="c_id">
		INSERT INTO commentTBL (c_writer, c_content, c_postNo) VALUES (#{c_writer}, #{c_content}, #{c_postNo})
	</insert>
	
	<!-- 회원정보수정 -->
	<update id="memberUpdate">
		UPDATE memberTBL
		SET m_nickname=#{m_nickname}, m_password=#{m_password}, m_birth=#{m_birth},
		m_profilePic=#{m_profilePic},
		m_introduce=#{m_introduce}, m_gender=#{m_gender}
		WHERE m_id=#{m_id};
	</update>
	
	<!-- 채팅 보내기 -->
	<insert id="chatSend" useGeneratedKeys="true" keyProperty="h_id">
		INSERT INTO chatTBL (h_speaker, h_listener, h_content) VALUES( #{h_speaker}, #{h_listener}, #{h_content});
	</insert>
	<!-- 두 회원 사이 채팅 읽어오기 (오래된 순, since 뒤의 것부터만) -->
	<select id="chatHistory" resultType="org.pro.demang.model.ChatDTO">
	SELECT * FROM chatTBL
	WHERE 
		(    (h_speaker = #{m1} and h_listener = #{m2}) 
		  OR (h_speaker = #{m2} and h_listener = #{m1})
		) AND h_id > #{since}
	ORDER BY h_id ASC
	</select>
	
	<!-- 검색결과 memberTBL의 이메일 정보 -->
	<select id="emailCheck" resultType="String">
		select m_email from memberTBL where m_email = #{m_email}
	</select>

	<!-- 검색 결과 emailCheckTBL의 이메일 정보 -->
	<select id="emailAuthenticationCheck" resultType="String">
		select m_email from emailCheckTBL where m_email = #{m_email}
	</select>

	<!-- memberTBL과 emailCheckTBL에 동시에 존재하지 않는 이메일 삭제하기 -->
	<delete id="emailAuthenticationDelete">
		DELETE FROM emailcheckTBL
		WHERE m_email = #{m_email}
	</delete>
	<!-- memberTBL과 emailCheckTBL에 동시에 존재하지 않는 이메일 삭제하기 -->
	<delete id="emailDelete">
		DELETE FROM memberTBL
		WHERE m_email = #{m_email}
	</delete>

	<!-- 검색 결과 이메일과 인증코드 -->
	<select id="reEmailCheck" resultType="Integer">
		select count(*)
		from emailchecktbl
		where m_email = #{m_email} and e_code = #{e_code}
	</select>
	
	
	
	<!-- 주문 및 결제 관련 -->
	<!-- 상품 이름 -->
	<select id="getMerName" resultType="String">
	 SELECT mer_name FROM merchandiseTBL WHERE mer_id = #{mer_id}
	</select>
	<!-- 상품 가격 -->
	<select id="getMerPrice" resultType="Integer">
	 SELECT mer_price FROM merchandiseTBL WHERE mer_id = #{mer_id}
	</select>
	<!-- 주문 시도 횟수 +1 -->
	<update id="merCountUp">
	UPDATE merchandiseTBL SET mer_count = mer_count+1 WHERE mer_id = #{mer_id};
	</update>
	<!-- 주문 시도 횟수 조회 -->
	<select id="getMerCount" resultType="Integer">
	 SELECT mer_count FROM merchandiseTBL WHERE mer_id = #{mer_id}
	</select>
	<!-- 디비에 주문 넣기 -->
	<insert id="orderInsert">
	INSERT INTO orderTBL 
	(ord_id, ord_buyer, ord_target, ord_amount, ord_buyer_name, ord_buyer_email, ord_buyer_tel, ord_buyer_address, ord_buyer_postcode, ord_price) 
	VALUES(#{ord_id}, #{ord_buyer}, #{ord_target}, #{ord_amount}, #{ord_buyer_name}, #{ord_buyer_email}, #{ord_buyer_tel}, #{ord_buyer_address}, #{ord_buyer_postcode}, #{ord_price});
	</insert>
	<!-- 주문의 금액 조회 -->
	<select id="getOrderPrice" resultType="Integer">
	 SELECT ord_price FROM orderTBL WHERE ord_id = #{ord_id}
	</select>
	<!-- 게시글에 들어가는 상품 정보 -->
	<insert id="orderPostInsert">
		INSERT INTO merchandiseTBL(mer_target, mer_name, mer_price, mer_amount) VALUES(#{mer_target}, #{mer_name}, #{mer_price}, #{mer_amount});
	</insert>
		   
</mapper>