<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pro.demang.mapper.MainMapper">

	<!-- 친구목록 불러오는 쿼리문 -->
	<select id="fList" resultType="org.pro.demang.model.MemberDTO">
		select m.m_email, m.m_nickname
		from followTBL f join memberTBL m where f.followee = m.m_id and
		f.follower = #{follower};
	</select>
	<!-- 검색 기능 쿼리문 -->
	
	
	<!-- 댓글 목록 불러오는 쿼리문 -->
	<select id="commentShow" resultType="org.pro.demang.model.CommentDTO">
		Select m.m_nickname, m.m_profilePic , m.m_code , c.* from commentTBL c join memberTBL on c.c_writer = m.m_id WHERE c_postNo = #{p_id}
	</select>

	<!-- post 작성 쿼리문 -->
	<insert id="postInsert" useGeneratedKeys="true" keyProperty="p_id">
		INSERT INTO postTBL (p_origin, p_type, p_writer, p_content) VALUES(#{p_origin}, #{p_type}, #{p_writer}, #{p_content})
	</insert>
	
	<insert id="postInsertImg" useGeneratedKeys="true" keyProperty="p_id">
		Insert into postImgTBL (i_image) values (#{i_image})
	</insert>


	<!-- 이것은 회원가입 쿼리문입니다. -->
	<insert id="memberInsert">
		INSERT INTO memberTBL(m_code, m_email, m_nickname, m_password, m_birth )
		 VALUES(1, #{m_email},#{m_nickname},#{m_password},#{m_birth})
	</insert>

	<!-- 회원 번호로 회원 찾기 -->
	<select id="getMember_no"
		resultType="org.pro.demang.model.MemberDTO">select * from memberTBL WHERE m_id = #{no};
	</select>
	<!-- 이메일로 회원 찾기 -->
	<select id="getMember_email"
		resultType="org.pro.demang.model.MemberDTO">select * from memberTBL WHERE m_email = #{m_email};
	</select>
	
	<!-- 팔로잉 수, 팔로워 수 (회원번호로) -->
	<select id="followingCount" resultType="Integer">
	SELECT COUNT(follower) from followTBL WHERE follower = #{no}</select>
	<select id="followerCount" resultType="Integer">
	SELECT COUNT(followee) from followTBL WHERE followee = #{no}</select>
	<!-- 팔로우하기 -->
	<insert id="doFollow">INSERT INTO followTBL (follower, followee) VALUES(#{m1}, #{m2})</insert>
	<select id="followCheck" resultType="Integer">
	SELECT COUNT(*)  FROM followTBL WHERE follower=#{m1} AND followee=#{m2}</select>

	<!-- 해당 번호의 회원의 게시글들(게시글번호만)(최신순) -->
	<select id="getPostList_writer" resultType="Integer">SELECT * FROM postTBL
		WHERE p_writer=#{no} ORDER BY p_id DESC</select>
		
	<!-- 해당 번호의 회원이 팔로우한 회원들이 쓴 게시글들(게시글번호만)(최신순) -->
	<select id="getPostList_followee" resultType="Integer">
		SELECT p.p_id
		FROM followTBL f
		JOIN postTBL p
		ON f.followee = p.p_writer
		WHERE f.follower = #{no}
		ORDER BY p.p_id DESC;
	</select>


	<!-- 게시글 번호로 게시글 찾기 -->
	<select id="getPost" resultType="org.pro.demang.model.PostDTO">select * from postTBL WHERE p_id
		= #{no};</select>
	<!-- 게시글 번호로 댓글들 찾기 최신순 -->
	<select id="getCommentList" resultType="org.pro.demang.model.CommentDTO">
		select m.m_nickname, m.m_profilePic , m.m_code , c.*
		   from commentTBL c
		   join memberTBL m 
		   on c.c_writer = m.m_id
		   WHERE c_postNo = #{no}
		   ORDER BY c.c_id DESC;</select>
	<!-- 게시글 번호로 댓글들 찾기. 최신 세 개만 -->
	<select id="getCommentList_recent" resultType="org.pro.demang.model.CommentDTO">
		select m.m_nickname, m.m_profilePic , m.m_code , c.*
		   from commentTBL c
		   join memberTBL m 
		   on c.c_writer = m.m_id
		   WHERE c_postNo = #{no}
		   ORDER BY c.c_id DESC
		   LIMIT 3;</select>
</mapper>