<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pro.demang.mapper.PagingMapper">

	<resultMap id="memberDTO" type="org.pro.demang.model.MemberDTO">
		<result column="m_id" property="m_id"/>
		<result column="m_code" property="m_code"/>
		<result column="m_email" property="m_email"/>
		<result column="m_nickname" property="m_nickname"/>
		<result column="m_profilePic" property="m_profilePic"/>
	</resultMap>
	<resultMap id="postDTO" type="org.pro.demang.model.PostDTO">
		<result column="p_id" property="p_id"/>
		<result column="p_origin" property="p_origin"/>
		<result column="p_type" property="p_type"/>
		<result column="p_writer" property="p_writer"/>
		<result column="p_content" property="p_content"/>
		<result column="p_likeCount" property="p_likeCount"/>
		<result column="p_regDate" property="p_regDate"/>
		<collection property="memberDTO" resultMap="memberDTO"/>
	</resultMap>
	<resultMap id="OrderDTO" type="org.pro.demang.model.OrderDTO">
		<result column="ord_id" property="ord_id"/>
		<result column="ord_buyer" property="ord_buyer"/>
		<result column="ord_target" property="ord_target"/>
		<result column="ord_amount" property="ord_amount"/>
		<result column="ord_buyer_name" property="ord_buyer_name"/>
		<result column="ord_buyer_email" property="ord_buyer_email"/>
		<result column="ord_buyer_tel" property="ord_buyer_tel"/>
		<result column="ord_buyer_address" property="ord_buyer_address"/>
		<result column="ord_buyer_postcode" property="ord_buyer_postcode"/>
		<result column="ord_price" property="ord_price"/>
		<result column="ord_date" property="ord_date"/>
		<result column="ord_state" property="ord_state"/>
		<collection property="targetDTO" resultMap="MerchandiseDTO"/>
	</resultMap>
	<resultMap id="MerchandiseDTO" type="org.pro.demang.model.MerchandiseDTO">
		<result column="mer_id" property="mer_id"/>
		<result column="mer_target" property="mer_target"/>
		<result column="mer_name" property="mer_name"/>
		<result column="mer_price" property="mer_price"/>
		<result column="mer_amount" property="mer_amount"/>
		<result column="mer_count" property="mer_count"/>
	</resultMap>


    <select id="findContact" resultType="org.pro.demang.model.ContactUsDTO">
        SELECT *
        FROM contactUsTBL
        WHERE 1=1
        ORDER BY c_id DESC
        <!-- <if test="keyword == 'name'">
            AND name LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'email'">
            AND email LIKE CONCAT('%',#{search},'%')
        </if> -->
    </select>

    <select id="findUser" resultType="org.pro.demang.model.MemberDTO">
        SELECT *
        FROM memberTBL
        WHERE 1=1
        <!-- <if test="keyword == 'name'">
            AND name LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'email'">
            AND email LIKE CONCAT('%',#{search},'%')
        </if> -->
    </select>
    
    <select id="findPost" resultMap="postDTO">
        select * 
		from postTBL p
		join memberTBL m
		on p.p_writer = m.m_id
		where 1=1
        <!-- <if test="keyword == 'name'">
            AND name LIKE CONCAT('%',#{search},'%')
        </if>
        <if test="keyword == 'email'">
            AND email LIKE CONCAT('%',#{search},'%')
        </if> -->
    </select>
    
    <select id="findOrder" resultMap="OrderDTO">
        SELECT * FROM orderTBL o
        JOIN merchandiseTBL m
        ON o.ord_target = m.mer_id
        WHERE o.ord_buyer = #{no}
    </select>
</mapper>