<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                  
<mapper namespace="org.pro.demang.mapper.PostMapper">

	<insert id="postInsert">
		INSERT INTO postTBL (p_origin, p_type, p_writer, p_content, p_image) VALUES(null, 'N', 1, #{p_content}, #{p_image})
	</insert>
	
</mapper>